<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>MyAssignment</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TeacherServlet</display-name>
    <servlet-name>TeacherServlet</servlet-name>
    <servlet-class>com.web.TeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherServlet</servlet-name>
    <url-pattern>/TeacherServlet</url-pattern>
    <url-pattern>/assignSubject</url-pattern>
    <url-pattern>/assignSubject1</url-pattern>
    <url-pattern>/assignSubject2</url-pattern>
    <url-pattern>/assignSubject3</url-pattern>
 
    <url-pattern>/insertSubject</url-pattern>
    <url-pattern>/listTeachers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FirstServlet</display-name>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>com.web.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/FirstServlet</url-pattern>
    <url-pattern>/addNewStudent</url-pattern>
    <url-pattern>/insertStudent</url-pattern>
    <url-pattern>/listStudents</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecondServlet</display-name>
    <servlet-name>SecondServlet</servlet-name>
    <servlet-class>com.web.SecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondServlet</servlet-name>
    <url-pattern>/SecondServlet</url-pattern>
    <url-pattern>/addNewStudent1</url-pattern>
    <url-pattern>/insertStudent1</url-pattern>
    <url-pattern>/listStudents1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThirdServlet</display-name>
    <servlet-name>ThirdServlet</servlet-name>
    <servlet-class>com.web.ThirdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThirdServlet</servlet-name>
    <url-pattern>/ThirdServlet</url-pattern>
    <url-pattern>/addNewStudent2</url-pattern>
    <url-pattern>/insertStudent2</url-pattern>
    <url-pattern>/listStudents2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FourthServlet</display-name>
    <servlet-name>FourthServlet</servlet-name>
    <servlet-class>com.web.FourthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FourthServlet</servlet-name>
    <url-pattern>/FourthServlet</url-pattern>
    <url-pattern>/addNewStudent3</url-pattern>
    <url-pattern>/insertStudent3</url-pattern>
    <url-pattern>/listStudents3</url-pattern>
  </servlet-mapping>
</web-app>